venv
.env
const port = process.env.PORT || 4000;
app.listen(port);
git add .
git commit -m "Set up Staticman v3 for deployment to Heroku"
git push heroku production:master
staticfiles
__pycache__/
*.pyc
